# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode
bazel-DeepLearningCPP11
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/cmake_install.cmake
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeCache.txt
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/conan.lock
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/conanbuildinfo.cmake
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/conanbuildinfo.txt
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/conaninfo.txt
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/graph_info.json
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/Makefile
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/cmake.check_cache
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/CMakeDirectoryInformation.cmake
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/CMakeOutput.log
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/Makefile.cmake
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/Makefile2
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/progress.marks
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/TargetDirectories.txt
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/3.16.2/CMakeCXXCompiler.cmake
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/3.16.2/CMakeDetermineCompilerABI_CXX.bin
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/3.16.2/CMakeSystem.cmake
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/3.16.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/build.make
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/cmake_clean.cmake
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/CXX.includecache
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/depend.internal
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/depend.make
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/DependInfo.cmake
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/flags.make
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/link.txt
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/CMakeFiles/example.dir/progress.make
conan/test_package/build/04ed570f548303894eb85f7f4f882e15ebcc641e/bin/example
